body {
	background-color: #14BD31;
	cursor:url('http://lizardpeople.co/images/lizard-emoji_32x32.png');
}

img {
	position: fixed;
	width: 50%;
	height: 50%;	
}

img.lizard {
	top: 0;
	left: 0;
}

img.people {
	top: 0;
	right: 0;
}

img.coming {
	bottom: 0;
	left: 0;
}

img.soon {
	bottom: 0;
	right: 0;
}

